@model Prueba.Models.Percepcion

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";

}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Percepciones
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdPercepcion" />
                                <div class="form-group">
                                    <label asp-for="IdEmpleado" class="control-label"></label>
                                    <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"></select>
                                    <span asp-validation-for="IdEmpleado" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IdCodCuenta" class="control-label"></label>
                                    <select asp-for="IdCodCuenta" class="form-control" asp-items="ViewBag.IdCodCuenta"></select>
                                    <span asp-validation-for="IdCodCuenta" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Concepto" class="control-label"></label>
                                    <input asp-for="Concepto" class="form-control" />
                                    <span asp-validation-for="Concepto" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Monto" class="control-label"></label>
                                    <input asp-for="Monto" class="form-control" />
                                    <span asp-validation-for="Monto" class="text-danger"></span>
                                </div>
                                @* <div class="form-group">
                                    <label asp-for="RefMonto" class="control-label">Monto $</label>
                                    <input asp-for="RefMonto" class="form-control" />
                                    <span asp-validation-for="RefMonto" class="text-danger"></span>
                                </div> *@
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                                    </label>
                                </div>
                                
                                <div class="form-group pt-2">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
