@model Prueba.Models.RelacionGasto

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}



<div class="container-fluid">
    <!-- Page Heading -->
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Crear Relación de Gastos.
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-action="Create">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="SubTotal" class="control-label"></label>
                                            <input type="number" asp-for="SubTotal" class="form-control" />
                                            <span asp-validation-for="SubTotal" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="TotalMensual" class="control-label"></label>
                                            <input type="number" asp-for="TotalMensual" class="form-control" />
                                            <span asp-validation-for="TotalMensual" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Fecha" class="control-label"></label>
                                            <input asp-for="Fecha" class="form-control" />
                                            <span asp-validation-for="Fecha" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="IdCondominio" class="control-label"></label>
                                            <select asp-for="IdCondominio" class="form-control" asp-items="ViewBag.IdCondominio"></select>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Crear" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <a asp-action="Index" class="btn btn-secondary">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
