@model RelacionDeGastosVM
@{
    ViewData["Title"] = "Relación de Gastos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    @if ((Model.SubcuentasGastos != null && Model.SubcuentasGastos.Any())
        && (Model.GastosDiario != null && Model.GastosDiario.Any()))
    {
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <a href="#"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> PDF
            </a>
            <a asp-action="GenerarReciboCobro"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generar
                Recibo de Cobro
            </a>
            <a asp-action="CrearFondo"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                Agregar Fondo
            </a>
            <a asp-action="CrearProvision"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                Agregar Provisión
            </a>
        </div>
    }
    else
    {
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Al realizar pagos se podrá generar la Relación de Gastos y los Recibos de Cobro</h1>
        </div>
    }


    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Relación de Gastos.
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="card-body">

                                        <partial name="_DetalleRelacionGasto" model="Model" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
