@using Prueba.ViewModels

@model PagoFacturaEmitidaVM

@{
    ViewData["Title"] = "Pagos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    @*<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Confirmar Pago</h1>
    </div>*@

    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-lg-4 mb-4">
            <!-- Illustrations -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                    </h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Seguro que quiere confirmar este pago?
                        </h6>
                        <div>
                            <form asp-action="RegistrarPagosPost">
                                <input type="hidden" asp-for="IdCodigoCuentaBanco" />
                                <input type="hidden" asp-for="NumReferencia" />
                                <input type="hidden" asp-for="IdCodigoCuentaCaja" />
                                <input type="hidden" asp-for="Pagoforma" />
                                <input type="hidden" asp-for="Concepto" />
                                <input type="hidden" asp-for="Fecha" />
                                <input type="hidden" asp-for="Monto" />
                                <input type="hidden" asp-for="IdSubcuenta" />
                                <input type="hidden" asp-for="IdCliente" />
                                <input type="hidden" asp-for="IdFactura" />
                                <input type="hidden" asp-for="RetIva" />
                                <input type="hidden" asp-for="RetIslr" />
                                <input type="hidden" asp-for="RetencionesIva" />
                                <input type="hidden" asp-for="RetencionesIslr" />


                                <p>Al confirmar el pago se verá reflejado en el Libro diario</p>
                                <button class="btn btn-primary" type="submit">Si</button>
                                <a asp-action="RegistrarPagos" class="btn">No</a>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
