@{
    ViewData["Title"] = "Pagos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Confirmar Pago</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Illustrations -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        
                    </h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Seguro que quiere confirmar este pago?
                        </h6>
                        <div>
                            <p>Al confirmar el pago se verá reflejado en el Libro diario</p>
                            <a asp-action="ConfirmarPagoRecibidoPost" class="btn btn-primary" type="submit">Si</a>
                            <a class="btn">No</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>