@model CrearProvisionVM
@{
}


<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Crear Provisión</h1>
    </div>

    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Crear Provisión
                    </h6>
                </div>
                <div class="card-body">

                    <!-- Inicio -->
                    

                        <form asp-action="CrearProvision">
                            @*<label>Provisiones</label>
                            <select asp-for="IdcodCuenta" asp-items="Model.Provisiones">
                                <option value="">Seleccione una provision</option>
                            </select>

                            <label>Gastos</label>
                            <select asp-for="IdGasto" asp-items="Model.Gastos">
                                <option value="">Seleccione el gasto asignado</option>
                            </select>

                            <label asp-for="Concepto"></label>
                            <input type="text" asp-for="Concepto" />

                            <label>Monto a porvisionar</label>
                            <input type="number" asp-for="Monto" />

                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a asp-action="RelaciondeGastos" class="btn">Volver</a>*@

                        <div class="form-body">
                            <div class="row">

                                <!-- Provisiones -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Proviciones</label>
                                        <div class="position-relative">
                                            <fieldset class="form-group">
                                                <select class="form-select" id="basicSelect" asp-for="IdcodCuenta" asp-items="Model.Provisiones">
                                                    <option value="">Seleccione una provisión</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <!-- Gastos -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Gastos</label>
                                        <div class="position-relative">
                                            <fieldset class="form-group">
                                                <select class="form-select" id="basicSelect" asp-for="IdGasto" asp-items="Model.Gastos">
                                                    <option value="">Seleccione el gasto asignado</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <!-- Concepto -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="last-name-column" asp-for="Concepto">Concepto</label>
                                        <div class="position-relative">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Concepto"
                                                   id="first-name-icon"
                                                   required
                                                   asp-for="Concepto" />
                                            <div class="form-control-icon">
                                                <i class="bi bi-building"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                <!-- Monto -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Monto a Porvisionar</label>
                                        <div class="position-relative">
                                            <input type="number"
                                                   class="form-control"
                                                   placeholder="Name"
                                                   id="first-name-icon"
                                                   asp-for="Monto" />
                                            <div class="form-control-icon">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                             
                                
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit"
                                            class="btn btn-primary me-1 mb-1">
                                        Enviar
                                    </button>
                                    <a asp-action="RelaciondeGastos" class="btn btn-secondary">Volver</a>
                                </div>
                            </div>
                        </div>
                        </form>

                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
</div>
<!-- /.container-fluid -->

