@using Prueba.ViewModels

@model RecibosCreadosVM
@{
    ViewData["Title"] = "Deudores";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
@*     <div class="d-sm-flex align-items-center justify-content-around mb-4">
        <a class="btn btn-light mb-3" asp-controller="Reportes" asp-action="DeudoresResumenPDF">PDF</a>
    </div> *@
    <div class="d-sm-flex align-items-center justify-content-around mb-4">
        <a asp-controller="Reportes" asp-action="DeudoresResumenPDF"
            class="d-sm-inline-block btn btn-sm btn-danger shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generar
            PDF
        </a>

        <a asp-controller="Reportes" asp-action="DeudoresExcel"
        class="d-sm-inline-block btn btn-sm btn-success shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generar
            Excel
        </a>
    </div>
    <partial name="_Deudores" model="Model" />
</div>
