@model IList<PagoEmitido>
@{
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Pagos Emitidos</h1>
    </div>
    <a class="btn btn-primary mb-3" asp-controller="Administrador" asp-action="RegistrarPagos">Registrar Pago</a>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Illustrations -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Pagos Emitidos
                    </h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Forma de pago</th>
                                    <th>Referencia</th>
                                    <th>Banco</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Forma de pago</th>

                                </tr>
                            </tfoot>
                            <tbody>
                                @if (@Model.Count() > 0)
                                {
                                    foreach (var item in @Model)
                                    {
                                        <tr>
                                            <td>@item.Fecha</td>
                                            <td>@item.Monto</td>
                                            <td>@item.FormaPago</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>No</td>
                                        <td>Existen</td>
                                        <td>Datos</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
