@model Prueba.Models.ComprobanteRetencionCliente

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a asp-action="Index" class="btn btn-light">Volver</a>
    </div>
    <!-- Content Row -->
    <div class="row justify-content-center">

        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Comprobante Retención Cliente
                    </h6>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="IdFactura" class="control-label"></label>
                            <select asp-for="IdFactura" class="form-control" asp-items="ViewBag.IdFactura"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdCliente" class="control-label"></label>
                            <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaEmision" class="control-label"></label>
                            <input asp-for="FechaEmision" class="form-control" />
                            <span asp-validation-for="FechaEmision" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BaseImponible" class="control-label"></label>
                            <input type="number" asp-for="BaseImponible" class="form-control" />
                            <span asp-validation-for="BaseImponible" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalFactura" class="control-label"></label>
                            <input type="number" asp-for="TotalFactura" class="form-control" />
                            <span asp-validation-for="TotalFactura" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retencion" class="control-label"></label>
                            <input type="number" asp-for="Retencion" class="form-control" />
                            <span asp-validation-for="Retencion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Sustraendo" class="control-label"></label>
                            <input type="number" asp-for="Sustraendo" class="form-control" />
                            <span asp-validation-for="Sustraendo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ValorRetencion" class="control-label"></label>
                            <input type="number" asp-for="ValorRetencion" class="form-control" />
                            <span asp-validation-for="ValorRetencion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalImpuesto" class="control-label"></label>
                            <input type="number" asp-for="TotalImpuesto" class="form-control" />
                            <span asp-validation-for="TotalImpuesto" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NumCompRet" class="control-label"></label>
                            <input asp-for="NumCompRet" class="form-control" />
                            <span asp-validation-for="NumCompRet" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NumComprobante" class="control-label"></label>
                            <input type="number" asp-for="NumComprobante" class="form-control" />
                            <span asp-validation-for="NumComprobante" class="text-danger"></span>
                        </div>                        
                        
                        <div class="form-group">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
