@model Prueba.Models.Condominio

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}


<div>
    <a asp-action="Index" class="btn btn-light">Volver</a>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Condominios
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdCondominio" />

                                <div class="form-group">
                                    <label asp-for="IdAdministrador" class="control-label"></label>
                                    <select asp-for="IdAdministrador" class="form-control" asp-items="ViewBag.IdAdministrador"></select>
                                    <span asp-validation-for="IdAdministrador" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Rif" class="control-label"></label>
                                    <input asp-for="Rif" class="form-control" />
                                    <span asp-validation-for="Rif" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Tipo" class="control-label"></label>
                                    <input asp-for="Tipo" class="form-control" />
                                    <span asp-validation-for="Tipo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label"></label>
                                    <input asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
