@model Prueba.Models.CodigoCuentasGlobal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CodigoCuentasGlobal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCodCuenta" />
            <div class="form-group">
                <label asp-for="IdSubCuenta" class="control-label"></label>
                <select asp-for="IdSubCuenta" class="form-control" asp-items="ViewBag.IdSubCuenta"></select>
                <span asp-validation-for="IdSubCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCuenta" class="control-label"></label>
                <select asp-for="IdCuenta" class="form-control" asp-items="ViewBag.IdCuenta"></select>
                <span asp-validation-for="IdCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGrupo" class="control-label"></label>
                <select asp-for="IdGrupo" class="form-control" asp-items="ViewBag.IdGrupo"></select>
                <span asp-validation-for="IdGrupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdClase" class="control-label"></label>
                <select asp-for="IdClase" class="form-control" asp-items="ViewBag.IdClase"></select>
                <span asp-validation-for="IdClase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saldo" class="control-label"></label>
                <input type="number" asp-for="Saldo" class="form-control" />
                <span asp-validation-for="Saldo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoInicial" class="control-label"></label>
                <input type="number" asp-for="SaldoInicial" class="form-control" />
                <span asp-validation-for="SaldoInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCondominio" class="control-label"></label>
                <select asp-for="IdCondominio" class="form-control" asp-items="ViewBag.IdCondominio"></select>
                <span asp-validation-for="IdCondominio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
