@model IList<Condominio>

@{
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Condominios</h1>
    </div>
    <a class="btn btn-primary mb-3" asp-controller="Admin" asp-action="RegistrarUsuarios">Crear Nuevo</a>

    <partial name="_Condominio" model="@Model" />

</div>
