@{
    ViewData["Title"] = "Inmueble";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="h3 mb-0 text-gray-800">Inmueble</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Editar Condominio
                    </h6>
                </div>
                <div class="card-body">
                    <form class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">

                                <!-- Nombre -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Nombre</label>
                                        <div class="position-relative">
                                            <input type="text" class="form-control" placeholder="Nombre" id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Rif -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Rif</label>
                                        <div class="position-relative">
                                            <input type="text" class="form-control" placeholder="Rif" id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="divider mt-4">
                                    <div class="divider-text">Administrador</div>
                                </div>


                                <!-- Nombre -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Nombre</label>
                                        <div class="position-relative">
                                            <input type="text" class="form-control" placeholder="Nombre" id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Apellido -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Apellido</label>
                                        <div class="position-relative">
                                            <input type="text" class="form-control" placeholder="Apellido" id="first-name-icon">
                                            <div class="form-control-icon">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- email -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="last-name-column">Email</label>
                                        <div class="position-relative">
                                            <input type="email" class="form-control" placeholder="Email" id="first-name-icon" required="">
                                            <div class="form-control-icon">
                                                <i class="bi bi-credit-card"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Contraseña -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="last-name-column">Contraseña</label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control" placeholder="Contraseña" id="first-name-icon" required="">
                                            <div class="form-control-icon">
                                                <i class="bi bi-credit-card"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    
                                    <button type="submit"
                                            class="btn btn-primary me-1 mb-1"
                                            asp-controller="Admin"
                                            asp-action="RegistroCondominio">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4 bg-content-bg">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Condominio
                    </h6>
                   
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card card-profile">
                        <img src="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/img-1-1000x600.jpg"
                             alt="Image placeholder"
                             class="card-img-top" />
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="~/images/users/1.jpg"
                                             class="rounded-circle" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-sm-between">
                                <br /><br class="d-xl-none d-lg-none d-md-none" />
                            </div>
                        </div>
                        <div class="card-body pt-3">
                            <div class="text-center">
                                <h5 class="h3">
                                    Propietarios <span class="font-weight-light">123</span>
                                </h5>
                                <h5 class="h3">
                                    Propiedades <span class="font-weight-light">123</span>
                                </h5>
                                <h5 class="h3">
                                    Estacionamientos <span class="font-weight-light">123</span>
                                </h5>
                                <h5 class="h3">
                                    Puestos <span class="font-weight-light">123</span>
                                </h5>
                                <h5 class="h3">
                                    Ubicación <span class="font-weight-light">123</span>
                                </h5>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button type="submit"
                                            class="btn btn-primary me-1 mb-1"
                                            asp-controller="Admin"
                                            asp-action="RegistrarPuesto">
                                        Editar
                                    </button>
                                    <button type="submit"
                                            class="btn btn-primary me-1 mb-1"
                                            asp-controller="Admin"
                                            asp-action="RegistroCondominio">
                                        Borrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Content Row -->

</div>
