@model NuevoCondominio

@{
    ViewData["Title"] = "Registro de Condominio";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="h3 mb-0 text-gray-800">Registrar Inmuebles</h1>
    </div>

    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Rellene todos los campos.
                    </h6>
                </div>
                <div class="card-body">
                    <form class="form form-horizontal"
                          asp-action="RegistroInmueblePost"
                          method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-body">
                            <div class="row">

                                <!-- Pais -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Pais</label>
                                        <div class="position-relative">
                                            <fieldset class="form-group">
                                                <select class="form-select" id="basicSelect"
                                                        asp-for="Ubicacion.IdPais"
                                                        asp-items="Model.Ubicacion.Paises">
                                                    <option value="">Seleccione un Pais</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <!-- Estado -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Estado</label>
                                        <div class="position-relative">
                                            <fieldset class="form-group">
                                                <select class="form-select" id="basicSelect"
                                                        asp-for="Ubicacion.IdEstado"
                                                        asp-items="Model.Ubicacion.Estados">
                                                    <option value="">Seleccione un estado</option>

                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <!-- Municipio -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Municipios</label>
                                        <div class="position-relative">
                                            <fieldset class="form-group">
                                                <select class="form-select" id="basicSelect"
                                                        asp-for="Ubicacion.IdMunicipio"
                                                        asp-items="Model.Ubicacion.Municipios">
                                                    <option value="">Seleccione un municipio</option>

                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <!-- Parroquia -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Parroquia</label>
                                        <div class="position-relative">
                                            <fieldset class="form-group">
                                                <select class="form-select" id="basicSelect"
                                                        asp-for="Ubicacion.IdParroquia"
                                                        asp-items="Model.Ubicacion.Parroquias">
                                                    <option value="">Seleccione una parroquia</option>

                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <!-- Zona -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Zona</label>
                                        <div class="position-relative">
                                            <fieldset class="form-group">
                                                <select class="form-select" id="basicSelect"
                                                        asp-for="Ubicacion.IdZona"
                                                        asp-items="Model.Ubicacion.Zonas">
                                                    <option value="">Seleccione una zona</option>

                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <!-- Nombre -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Nombre</label>
                                        <div class="position-relative">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Nombre"
                                                   id="first-name-icon"
                                                   asp-for="Inmueble.Nombre" />
                                            <div class="form-control-icon">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Num de propiedades -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="last-name-column">Número de Propiedades</label>
                                        <div class="position-relative">
                                            <input type="number"
                                                   class="form-control"
                                                   placeholder="Numero de propiedades"
                                                   id="first-name-icon"
                                                   asp-for="Inmueble.TotalPropiedad"
                                                   required />
                                            <div class="form-control-icon">
                                                <i class="bi bi-credit-card"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit"
                                            class="btn btn-primary me-1 mb-1">
                                        Siguiente
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- Content Row -->
</div>

