
@{
    ViewData["Title"] = "Registrar Puesto";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="h3 mb-0 text-gray-800">Registrar Puesto</h1>
    </div>

    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Rellene todos los campos.
                    </h6>
                </div>
                <div class="card-body">
                    <form class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">

                                <!-- Código -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left mandaory">
                                        <label for="last-name-column">Código</label>
                                        <div class="position-relative">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Código"
                                                   id="first-name-icon" />
                                            <div class="form-control-icon">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Alicuaota -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="last-name-column">Alicuaota Est.</label>
                                        <div class="position-relative">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Alicuaota"
                                                   id="first-name-icon"
                                                   required />
                                            <div class="form-control-icon">
                                                <i class="bi bi-credit-card"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tamaño -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group has-icon-left">
                                        <label for="last-name-column">Tamaño</label>
                                        <div class="position-relative">
                                            <input type="number"
                                                   class="form-control"
                                                   placeholder="Tamaño"
                                                   id="first-name-icon"
                                                   required />
                                            <div class="form-control-icon">
                                                <i class="bi bi-credit-card"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-start">
                                    <button type="submit"
                                            class="btn btn-primary me-1 mb-1"
                                            >
                                        Crear
                                    </button>
                                    
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit"
                                            class="btn btn-primary me-1 mb-1"
                                            asp-controller="Admin"
                                            asp-action="RegistrarPropiedades">
                                        Siguiente
                                    </button>
                                    <button type="submit"
                                            class="btn btn-primary me-1 mb-1"
                                            asp-controller="Admin"
                                            asp-action="RegistrarEstacionamiento">
                                        Volver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Rellene todos los campos.
                    </h6>
                </div>
                <div class="card-body">
                    <form class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">

                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Alicuota</th>
                                                <th>Tamaño</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-bold-500">Michael Right</td>
                                                <td>$15/hr</td>
                                                <td class="text-bold-500">UI/UX</td>
                                            </tr>
                                            <tr>
                                                <td class="text-bold-500">Morgan Vanblum</td>
                                                <td>$13/hr</td>
                                                <td class="text-bold-500">Graphic concepts</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- Content Row -->
</div>
