@model NuevoCondominio
@{
    ViewData["Title"] = "Registrar Puesto";
    var numP = Convert.ToInt32(TempData.Peek("numPuestos"));
    List<PuestoE> listapuestos = new List<PuestoE>(numP);
    for (int i = 0; i < numP; i++)
    {
        listapuestos.Add(new PuestoE
                {
                    IdPuestoE = 0,
                    IdEstacionamiento = 0,
                    IdPropiedad = 0,
                    Codigo = "",
                    Alicuota = 0
                });
    }

    Model.Puesto_Est = listapuestos;
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        <h1 class="h3 mb-0 text-gray-800">Registrar Puesto</h1>
    </div>

    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Rellene todos los campos.
                    </h6>
                </div>
                <div class="card-body">
                    <form class="form form-horizontal"
                    asp-action="RegistrarPuestosEPost"
                    method="post">
                        @for (int i = 0; i < numP; i++)
                        {
                            <div class="form-body">
                                <div class="row">

                                    <!-- Código -->
                                    <div class="col-md-6 col-12">
                                        <div class="form-group has-icon-left mandaory">
                                            <label for="last-name-column">Código</label>
                                            <div class="position-relative">
                                                <input type="text"
                                                   class="form-control"
                                                   placeholder="Código"
                                                   id="first-name-icon" 
                                                   asp-for="Puesto_Est[i].Codigo"/>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-person"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Alicuaota -->
                                    <div class="col-md-6 col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="last-name-column">Alicuaota Est.</label>
                                            <div class="position-relative">
                                                <input type="text"
                                                   class="form-control"
                                                   placeholder="Alicuaota"
                                                   id="first-name-icon"
                                                   required 
                                                   asp-for="Puesto_Est[i].Alicuota"/>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-credit-card"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Propiedad -->
                                    <div class="col-md-6 col-12">
                                        <div class="form-group has-icon-left mandaory">
                                            <label for="last-name-column">Propiedad</label>
                                            <div class="position-relative">
                                                <fieldset class="form-group">
                                                    <select class="form-select" id="basicSelect"
                                                        asp-for="Puesto_Est[i].IdPropiedad" asp-items="Model.SelectPropiedades">
                                                        <option value="">Asigne una Propiedad</option>>
                                                    </select>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                        <div class="col-12 d-flex justify-content-start">
                            <button type="submit"
                                    class="btn btn-primary me-1 mb-1">
                                Crear
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
</div>
