@model Prueba.Models.GrupoGasto

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Grupos Gastos
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="card-body">
                                        <h4>Are you sure you want to delete this?</h4>

                                        <dl class="row">
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.NumGrupo)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.NumGrupo)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.NombreGrupo)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.NombreGrupo)
                                            </dd>
                                        </dl>
                                        <form asp-action="Delete">
                                            <input type="hidden" asp-for="IdGrupoGasto" />
                                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                                            <a asp-action="Index" class="btn btn-secondary">Volver</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>