@model Prueba.Models.GrupoGasto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";

}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Grupos Gastos
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdGrupoGasto" />
                                <div class="form-group">
                                    <label asp-for="NumGrupo" class="control-label"></label>
                                    <input asp-for="NumGrupo" class="form-control" />
                                    <span asp-validation-for="NumGrupo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NombreGrupo" class="control-label"></label>
                                    <input asp-for="NombreGrupo" class="form-control" />
                                    <span asp-validation-for="NombreGrupo" class="text-danger"></span>
                                </div>
                                <div class="form-group pt-2">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
