@model Prueba.Models.Fondo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<!-- Content Row -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Fondos
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="IdCodCuenta" class="control-label"></label>
                                        <select asp-for="IdCodCuenta" class="form-control" asp-items="ViewBag.IdCodCuenta"></select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Porcentaje" class="control-label"></label>
                                        <input type="number" asp-for="Porcentaje" class="form-control" />
                                        <span asp-validation-for="Porcentaje" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Monto" class="control-label"></label>
                                        <input type="number" asp-for="Monto" class="form-control" />
                                        <span asp-validation-for="Monto" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FechaInicio" class="control-label"></label>
                                        <input asp-for="FechaInicio" class="form-control" />
                                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FechaFin" class="control-label"></label>
                                        <input asp-for="FechaFin" class="form-control" />
                                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Crear" class="btn btn-primary" />
                                        <a asp-controller="RelacionGastos" asp-action="TransaccionesDelMes" class="btn btn-secondary">Volver</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
