@model Prueba.Models.Propiedad

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";

}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Propiedades
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdPropiedad" />
                                <div class="form-group">
                                    <label asp-for="IdCondominio" class="control-label"></label>
                                    <select asp-for="IdCondominio" class="form-control" asp-items="ViewBag.IdCondominio"></select>
                                    <span asp-validation-for="IdCondominio" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IdUsuario" class="control-label"></label>
                                    <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                                    <span asp-validation-for="IdUsuario" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Codigo" class="control-label"></label>
                                    <input asp-for="Codigo" class="form-control" />
                                    <span asp-validation-for="Codigo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Dimensiones" class="control-label"></label>
                                    <input type="number" asp-for="Dimensiones" class="form-control" />
                                    <span asp-validation-for="Dimensiones" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Alicuota" class="control-label"></label>
                                    <input type="number" asp-for="Alicuota" class="form-control" />
                                    <span asp-validation-for="Alicuota" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Solvencia" /> @Html.DisplayNameFor(model => model.Solvencia)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Saldo" class="control-label"></label>
                                    <input type="number" asp-for="Saldo" class="form-control" />
                                    <span asp-validation-for="Saldo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Deuda" class="control-label"></label>
                                    <input type="number" asp-for="Deuda" class="form-control" />
                                    <span asp-validation-for="Deuda" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MontoIntereses" class="control-label"></label>
                                    <input type="number" asp-for="MontoIntereses" class="form-control" />
                                    <span asp-validation-for="MontoIntereses" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MontoMulta" class="control-label"></label>
                                    <input type="number" asp-for="MontoMulta" class="form-control" />
                                    <span asp-validation-for="MontoMulta" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Creditos" class="control-label"></label>
                                    <input type="number" asp-for="Creditos" class="form-control" />
                                    <span asp-validation-for="Creditos" class="text-danger"></span>
                                </div>
                                <div class="form-group pt-2">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
