@model Prueba.Models.Proveedor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";

}

<div class="container-fluid">
    <!-- Page Heading -->
    @*    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Registrar Pagos</h1>
    </div>*@
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a asp-action="Index" class="btn btn-light">Volver</a>
    </div>
    <!-- Content Row -->
    <div class="row justify-content-center">

        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Proveedores
                    </h6>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="IdCondominio" class="control-label"></label>
                            <select asp-for="IdCondominio" class="form-control" asp-items="ViewBag.IdCondominio"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Direccion" class="control-label"></label>
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefono" class="control-label"></label>
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rif" class="control-label"></label>
                            <input asp-for="Rif" class="form-control" />
                            <span asp-validation-for="Rif" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdRetencionIslr" class="control-label"></label>
                            <select asp-for="IdRetencionIslr" class="form-control" asp-items="ViewBag.IdRetencionIslr"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdRetencionIva" class="control-label"></label>
                            <select asp-for="IdRetencionIva" class="form-control" asp-items="ViewBag.IdRetencionIva"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Saldo" class="control-label"></label>
                            <input asp-for="Saldo" class="form-control" />
                            <span asp-validation-for="Saldo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Representante" class="control-label"></label>
                            <input asp-for="Representante" class="form-control" />
                            <span asp-validation-for="Representante" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="ContribuyenteEspecial" /> @Html.DisplayNameFor(model => model.ContribuyenteEspecial)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
