@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Areas/Identity/Pages/Account/Manage/_LayoutAccount.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a asp-action="Index" class="btn btn-light">Volver</a>
    </div>
    <!-- Content Row -->
    <div class="row justify-content-center">

        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Recuperación Clave
                    </h6>
                </div>
                <div class="card-body">
                    <h6>
                        Por favor revisar su correo electrónico para cambiar su contraseña.
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>