@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Configuración";
    Layout = "~/Areas/Identity/Pages/Account/Manage/_LayoutAccount.cshtml";

}

<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        @*<h1 class="h3 mb-0 text-gray-800">Comprobante</h1>*@
    </div>


    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">


            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Cambiar contraseña
                    </h6>

                </div>
                <div class="card-body">
                    <div class="row">
                        <p>Su contraseña ha sido cambiada con éxito! </p>
                        <a asp-action="Idex" asp-controller="Home">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
