@model Prueba.Models.CompRetIva

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";

}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a asp-action="Index" class="btn btn-light">Volver</a>
    </div>
    <!-- Content Row -->
    <div class="row justify-content-center">

        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Comprobante IVA
                    </h6>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="IdFactura" class="control-label"></label>
                            <select asp-for="IdFactura" class="form-control" asp-items="ViewBag.IdFactura"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdProveedor" class="control-label"></label>
                            <select asp-for="IdProveedor" class="form-control" asp-items="ViewBag.IdProveedor"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaEmision" class="control-label"></label>
                            <input asp-for="FechaEmision" class="form-control" />
                            <span asp-validation-for="FechaEmision" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdNotaCredito" class="control-label"></label>
                            <select asp-for="IdNotaCredito" class="form-control" asp-items="ViewBag.IdNotaCredito"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdNotaDebito" class="control-label"></label>
                            <select asp-for="IdNotaDebito" class="form-control" asp-items="ViewBag.IdNotaDebito"></select>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="TipoTransaccion" /> @Html.DisplayNameFor(model => model.TipoTransaccion)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="NumFacturaAfectada" class="control-label"></label>
                            <input asp-for="NumFacturaAfectada" class="form-control" />
                            <span asp-validation-for="NumFacturaAfectada" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalCompraIva" class="control-label"></label>
                            <input asp-for="TotalCompraIva" class="form-control" />
                            <span asp-validation-for="TotalCompraIva" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CompraSinCreditoIva" class="control-label"></label>
                            <input asp-for="CompraSinCreditoIva" class="form-control" />
                            <span asp-validation-for="CompraSinCreditoIva" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BaseImponible" class="control-label"></label>
                            <input asp-for="BaseImponible" class="form-control" />
                            <span asp-validation-for="BaseImponible" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Alicuota" class="control-label"></label>
                            <input asp-for="Alicuota" class="form-control" />
                            <span asp-validation-for="Alicuota" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImpIva" class="control-label"></label>
                            <input asp-for="ImpIva" class="form-control" />
                            <span asp-validation-for="ImpIva" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IvaRetenido" class="control-label"></label>
                            <input asp-for="IvaRetenido" class="form-control" />
                            <span asp-validation-for="IvaRetenido" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalCompraRetIva" class="control-label"></label>
                            <input asp-for="TotalCompraRetIva" class="form-control" />
                            <span asp-validation-for="TotalCompraRetIva" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
                 

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
