@using Newtonsoft.Json.Linq;
@using Prueba.ViewModels;

@model CrearCodigoCuentasGlobalVMs
@{
    ViewData["Title"] = "Sub Cuentas";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        @*<h1 class="h3 mb-0 text-gray-800">Formulario para crear sub cuenta</h1>*@
    </div>

    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Nueva Cuenta Global
                    </h6>
                </div>
                <div class="card-body">
                    <div>


                        <div class="form-body">

                            <div class="row">

                                @using (Html.BeginForm("CrearCodigoCuentasGlobalPost", "CodigoCuentasGlobals", FormMethod.Post))
                                {

                                    <div>
                                        <div id="multi-step-form-container">
@*                                             <!-- LineaProgreso -->
 *@                                            <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
@*                                                 <!-- Paso 1 -->
 *@                                                <li class="form-stepper-active text-center form-stepper-list" step="1">
                                                    <a class="mx-2">
                                                        <span class="form-stepper-circle">
                                                            <span>1</span>
                                                        </span>
                                                        <div class="label">Seleccionar</div>
                                                    </a>
                                                </li>
                                                <!-- Paso 2 -->
                                                <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
                                                    <a class="mx-2">
                                                        <span class="form-stepper-circle text-muted">
                                                            <span>2</span>
                                                        </span>
                                                        <div class="label text-muted">Seleccionar</div>
                                                    </a>
                                                </li>
                                                <!-- Paso 3 -->
                                                <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
                                                    <a class="mx-2">
                                                        <span class="form-stepper-circle text-muted">
                                                            <span>3</span>
                                                        </span>
                                                        <div class="label text-muted">Seleccionar</div>
                                                    </a>
                                                </li>
@*                                                 <!-- Paso 4 -->
 *@                                                <li class="form-stepper-unfinished text-center form-stepper-list" step="4">
                                                    <a class="mx-2">
                                                        <span class="form-stepper-circle text-muted">
                                                            <span>4</span>
                                                        </span>
                                                        <div class="label text-muted">Seleccionar</div>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- Step Form Content -->
                                            <div>
                                                <!-- Pso 1 -->
                                                <section id="step-1" class="form-step">



                                                    <h2 class="font-normal">Seleccionar una Clase</h2>
@*                                                     <!-- Step 1 input fields -->
 *@                                                    <div class="mt-3">
                                                        @Html.DropDownListFor(m => m.IdClase, Model.Clases, "Seleccione una Clase", new { @class = "form-control" })
                                                        <br />
                                                    </div>
                                                    <div class="mt-3">
                                                        @*<button class="btn-primary btn button btn-navigate-form-step" name="act" id='submito' disabled step_number="2">Siguiente</button>*@
                                                        <button class="btn btn-primary btnbutton btn-navigate-form-step" type="button" step_number="2">Siguiente</button>
                                                    </div>
                                                </section>

@*                                                 <!-- Pso 2 -->
 *@                                                <section id="step-2" class="form-step d-none">
                                                    <h2 class="font-normal">Seleccionar un Grupo</h2>
@*                                                     <!-- Step 2 input fields -->
 *@                                                    <div class="mt-3">
                                                        @Html.DropDownListFor(m => m.IdGrupo, Model.Grupos, "Seleccione un Grupo", new { @class = "form-control" })
                                                        <br />

                                                    </div>
                                                    <div class="mt-3">
                                                        <button class="btn btn-primary btnbutton btn-navigate-form-step" type="button" step_number="1">Atras</button>
                                                        <button class="btn btn-primary btnbutton btn-navigate-form-step" type="button" step_number="3">Siguiente</button>
                                                    </div>
                                                </section>
@*                                                 <!-- Pso 3 Content -->
 *@                                                <section id="step-3" class="form-step d-none">
                                                    <h2 class="font-normal">Seleccionar una Cuenta</h2>
@*                                                     <!-- Step 3 input fields -->
 *@                                                    <div class="mt-3">
                                                        @Html.DropDownListFor(m => m.IdCuenta, Model.Cuentas, "Seleccione una Cuenta", new { @class = "form-control" })
                                                        <br />
                                                    </div>
                                                    <div class="mt-3">
                                                        <button class="btn btn-primary btnbutton btn-navigate-form-step" type="button" step_number="2">Atras</button>
                                                        <button class="btn btn-primary btnbutton btn-navigate-form-step" type="button" step_number="4">Siguiente</button>
                                                    </div>
                                                </section>                   
                                                <!-- Pso 4 Content -->

                                               <section id="step-4" class="form-step d-none">
                                                    <h2 class="font-normal">Seleccionar una SubCuenta</h2>
@*                                                    <!-- Step 4 input fields -->
 *@                                                        <div class="mt-3">
                                                        @Html.DropDownListFor(m => m.IdSubCuenta, Model.SubCuenta, "Seleccione una SubCuenta", new { @class = "form-control" })
                                                        <br />
                                                        <div class="row">
                                                            <div class="col-md-6 col-12">
                                                                <div class="form-group has-icon-left mandaory">
                                                                    <label for="last-name-column">Saldo</label>
                                                                    <div class="position-relative">
                                                                        <input class="form-control" type="number" placeholder="Saldo" asp-for="Saldo" />
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="col-md-6 col-12">
                                                                <div class="form-group has-icon-left mandaory">
                                                                    <label for="last-name-column">Saldo Inicial</label>
                                                                    <div class="position-relative">
                                                                        <input class="form-control" type="number" placeholder="SaldoInicial" asp-for="SaldoInicial" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Código -->
                                                            <div class="col-md-12 col-12">
                                                                <div class="form-group has-icon-left mandaory">
                                                                    <label for="last-name-column">Código</label>
                                                                    <div class="position-relative">
                                                                        <input class="form-control" type="text" placeholder="Código" asp-for="Codigo" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    <div class="mt-3">
                                                        <button class="btn-primary btn button btn-navigate-form-step" type="button" step_number="3">Atras</button>

                                                        <button class="btn btn-primary" type="submit">Guardar</button>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>


    @section Scripts {

        <script type="text/javascript">
            $(function () {
                $("select").each(function () {
                    if ($(this).find("option").length <= 1) {
                        $(this).attr("disabled", "disabled");
                    }
                });

                $("select").change(function () {
                    var value = 0;
                    if ($(this).val() != "") {
                        value = $(this).val();
                    }
                    var id = $(this).attr("id");
                    var dataRequest = {
                        tipo: id,
                        valor: value
                    }
                    $.ajax({
                        type: "POST",
                        url: "/CodigoCuentasGlobals/AjaxMethod",
                        data: dataRequest,
                        //contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            console.log(response );
                            var dropDownId;
                            var list;
                            switch (id) {
                                case "IdClase":
                                    list = response.grupos;
                                    DisableDropDown("#IdGrupo");
                                    DisableDropDown("#IdCuenta");
                                    PopulateDropDown("#IdGrupo", list);
                                    break;
                                case "IdGrupo":
                                    dropDownId = "#IdCuenta";
                                    list = response.cuentas;
                                    DisableDropDown("#IdCuenta");
                                    PopulateDropDown("#IdCuenta", list);
                                    break;
                                case "IdCuenta":
                                    dropDownId = "#IdSubCuenta";
                                    list = response.subCuenta;
                                    // DisableDropDown("#IdCuenta");
                                    // DisableDropDown("#IdGrupo");
                                    DisableDropDown("#IdSubcuenta");
                                    PopulateDropDown("#IdSubCuenta", list);
                                    break;
                            }
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                });
            });

            function DisableDropDown(dropDownId) {
                $(dropDownId).attr("disabled", "disabled");
                $(dropDownId).empty().append('<option selected="selected" value="0">Seleccionar</option>');
            }

            function PopulateDropDown(dropDownId, list) {
                if (list != null && list.length > 0) {
                    $(dropDownId).removeAttr("disabled");
                    $.each(list, function () {
                        $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
                    });
                }
            }

            $(function () {
                if ($("#IdClase").val() != "" && $("#IdGrupo").val() != "" && $("#IdCuenta").val() != "") {
                    var message = "Clase: " + $("#IdClase option:selected").text();
                    message += "\nGrupo: " + $("#IdGrupo option:selected").text();
                    message += "\nCuenta: " + $("#IdCuenta option:selected").text();
                    message += "\nSubCuenta: " + $("#IdSubCuenta option:selected").text();
                    alert(message);
                }
            });

        </script>

    }
