@{
    ViewData["Title"] = "Home Page";
}

<section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
    <div class="main-bunner-img"
         style="
            background-image: url('/images/bg-gradient.jpg');
            background-size: cover;
          "></div>
    <div class="main-bunner-inner">
        <div class="container">
            <div class="box-default">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="slider_detail-box">
                                <h1 class="box-default-title">
                                    Fácil<br />
                                    Rápido y Seguro
                                </h1>
                                <p class="big box-default-text">
                                    Tu mejor opción para llevar el control de tus
                                    condominios
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="slider_img-box">
                                <img src="~/images/city.png"
                                     alt="website template image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg-gray-1">
    <section class="section-transform-top">
        <div class="container">
            <div class="box-booking"></div>
        </div>
    </section>
    <section class="section section-lg section-inset-1 bg-gray-1 pt-lg-0">
        <div class="container">
            <div class="row row-50 justify-content-xl-between align-items-lg-center">
                <div class="col-lg-6 wow fadeInLeft">
                    <div class="box-image">
                        <img class="box-image-static"
                             src="~/images/1.1.png"
                             alt=""
                             width="483"
                             height="327" />
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5 wow fadeInRight">
                    <h2>Sobre Nosotros</h2>
                    <p>
                        En Password Technology, somos apasionados por crear espacios de vida excepcionales. 
                        Con 10 años de experiencia en la administración de condominios, ofrecemos soluciones 
                        personalizadas y eficientes que garantizan la tranquilidad y el bienestar de todos los residentes. 
                        Nuestro equipo altamente capacitado se dedica a brindar un servicio de excelencia, siempre buscando 
                        superar las expectativas de nuestros clientes
                    </p>
                    <p>
                        ¡Contáctanos hoy mismo y descubre por qué somos la mejor opción para tu condominio!
                    </p>
                    <a class="button" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
                </div>
            </div>
        </div>
    </section>
</div>

