@{
    ViewData["Title"] = "Home Page";
}

<section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
    <div class="main-bunner-img"
         style="
            background-image: url('/images/bg-gradient.jpg');
            background-size: cover;
          "></div>
    <div class="main-bunner-inner">
        <div class="container">
            <div class="box-default">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="slider_detail-box">
                                <h1 class="box-default-title">
                                    Fácil<br />
                                    Rápido y Seguro
                                </h1>
                                <p class="big box-default-text">
                                    Tu mejor opción para llevar el control de tus
                                    condominios
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="slider_img-box">
                                <img src="~/images/city.png"
                                     alt="website template image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg-gray-1">
    <section class="section-transform-top">
        <div class="container">
            <div class="box-booking"></div>
        </div>
    </section>
    <section class="section section-lg section-inset-1 bg-gray-1 pt-lg-0">
        <div class="container">
            <div class="row row-50 justify-content-xl-between align-items-lg-center">
                <div class="col-lg-6 wow fadeInLeft">
                    <div class="box-image">
                        <img class="box-image-static"
                             src="~/images/home-3-1-483x327.jpg"
                             alt=""
                             width="483"
                             height="327" /><img class="box-image-position"
                                                 src="~/images/home-3-2-341x391.png"
                                                 alt=""
                                                 width="341"
                                                 height="391" />
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5 wow fadeInRight">
                    <h2>Sobre Nosotros</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Inventore quibusdam illo blanditiis, nemo optio molestias
                        voluptas sunt minima ea, minus consectetur recusandae odio
                        animi quas modi voluptatem magnam fugiat quod.
                    </p>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab
                        sapiente vitae ratione? Necessitatibus exercitationem, eaque
                        nihil, vel molestias ipsa, optio ut adipisci pariatur deserunt
                        dolor tenetur labore fugit iste quis!
                    </p>
                    <a class="button" href="auth-login.html">Entrar</a>
                </div>
            </div>
        </div>
    </section>
</div>

