@model Prueba.ViewModels.ItemConciliacionVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Illustrations -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Confirmar Conciliación
                    </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <h6>Seguro que quiere confirmar esta conciliación?</h6>
                        @* <h6>Al confirmar el pago se verá reflejado en el Libro diario</h6> *@
                        <hr />
                        <div>
                            <div class="card-body">
                                <div class="form form-horizontal">
                                    <div class="form-body">
                                        <dl class="row">
                                            <form asp-action="Conciliar">
                                                <input type="hidden" asp-for="IdCodigoCuenta" />
                                                @for (int i = 0; i < @Model.PagosIds.Count(); i++)
                                                {
                                                    <input type="hidden" asp-for="@Model.PagosIds[i]" />
                                                }

                                                @if (Model.ConciliacionAnterior == null)
                                                {
                                                    <div asp-validation-summary="ModelOnly" class="text-danger">
                                                        No existe una conciliación anterior. Por favor ingrese el saldo inicial
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Saldo Inicial</label>
                                                        <input type="number" asp-for="SaldoInicial" class="form-control" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="form-group">
                                                        <label class="control-label">Saldo Inicial</label>
                                                        <input type="number" asp-for="SaldoInicial" class="form-control" readonly />
                                                    </div>
                                                }
                                                <div class="form-group">
                                                    <label class="control-label">Total Ingreso</label>
                                                    <input type="text" asp-for="TotalIngreso" class="form-control" readonly />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Total Egreso</label>
                                                    <input asp-for="TotalEgreso" class="form-control" readonly />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Saldo Final</label>
                                                    <input type="number" asp-for="SaldoFinal" class="form-control" readonly />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Saldo En Banco</label>
                                                    <input type="number" asp-for="SaldoBanco" class="form-control" />
                                                </div>
                                                <hr />
                                                <div class="form-group">
                                                    <button class="btn btn-primary" type="submit">Si</button>
                                                    <a asp-action="Index" class="btn btn-secondary">No</a>
                                                </div>
                                            </form>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>